/* P reset */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*and stuff like this*/
/*https://gist.github.com/murtaugh/5247154*/ /* S etup */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

module-name, mast-head {
  display: block;
}

/* S setings */
html {
  --black: #111111;
  --white: #efefef;
  --neutral-stuffs: gray;
  --color: #9ec9eb;
  --highlight: #aadee9;
  --shadow: rgba(0,0,0,.8);
  --corners: 10px; /* or whatevers */
  --paper: var(--white);
  --ink: var(--black);
}

@media (prefers-color-scheme: dark) {
  html {
    --black: #111111;
    --white: #efefef;
    --neutral-stuffs: gray;
    --color: #9ec9eb;
    --highlight: #aadee9;
    --shadow: rgba(0,0,0,.8);
    --corners: 10px; /* or whatevers */
    --paper: red;
    --ink: yellow;
  }
}
body * {
  border: 1px solid hsl(200deg, 100%, 80%);
  padding: 4px;
}

section:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

picture img {
  /*	opacity: 0;*/
}

picture {
  /*	background-color: var(--shadow);*/
}

/* S tructure */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* be at least a full viewport height */
}

main {
  flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
  display: block;
  width: 98%;
  max-width: 1100px; /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  padding: 30px 14px; /* a loose default */
}

/*.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}*/
/* T ypography */
/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */
.loud-voice {
  font-family: sans-serif;
  font-size: clamp(36px, 5vw, 60px);
}

@media (min-width: 600px) {
  .loud-voice {
    font-weight: 700; /* or variable font */
  }
}
.attention-voice {
  font-family: sans-serif;
  font-size: 30px;
}

.calm-voice, p, li {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

:is(.calm-voice, p) em {
  font-style: italic;
}

:is(.calm-voice, p) strong {
  font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
  margin-top: 1em;
}

h2 + p {
  margin-top: 20px;
}

code {
  font-family: monospace;
  font-size: 1.1em;
  color: green;
}

/* C omponents */
/* buttons and icons and smaller reusable bits here */
/* S tuff (modules) */
.site-menu ul {
  display: flex;
  flex-direction: row;
}

monster-card {
  display: grid;
}
monster-card picture {
  aspect-ratio: 1/1;
  max-width: 300px;
}
monster-card picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
monster-card .link {
  display: block;
}
monster-card.adopted {
  border: 2px solid red;
}
monster-card.lime {
  border: 2px solid lime;
}
monster-card.blue {
  border: 2px solid blue;
}
monster-card.red {
  border: 2px solid red;
}
monster-card.orange {
  border: 2px solid orange;
}

monster-detail {
  display: block;
}

monster-detail .portrait {
  max-width: 400px;
}

/* S ections and more stuff */
/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
}

body h1 {
  color: red;
}

/*# sourceMappingURL=site-minified.css.map */
