/* P reset */
@import 'preset';

/* S etup */
@import 'setup';

/* S setings */
@import 'settings';
@import 'developer-styles';

/* S tructure */
@import 'structure';

/* T ypography */
@import 'typography';

/* C omponents */
@import 'components';

/* S tuff (modules) */
@import 'modules';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

body h1 {
	color: red;
}
