<%- include('header.ejs') %>


<section>
	<inner-column>
		
		<monster-detail>
			<picture class='portrait'>
				<img src="/images/monsters/<%=monster.portrait%>" alt="">
			</picture>

			<h1 class='loud-voice'><%=monster.name%></h1>
		</monster-detail>

	</inner-column>
</section>


<%- include('footer.ejs') %>