<!doctype html>

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Page title</title>
		<meta name='description' content='...'>
  		<meta property='og:image' content='...'>
		<link rel='icon' type='image/svg+xml' href='favicon.svg'>
               
      <link rel='stylesheet' href='site.css'>
	</head>

	<body>
		<header>
			<inner-column>
				
				<mast-head>
					<%- include('site-menu.ejs') %>
				</mast-head>

			</inner-column>
		</header>