<%- include('header.ejs') %>


<section>
	<inner-column>
		
		<module-name>
			<h1 class='loud-voice'>Monsters</h1>

			<ul>
				<% monsters.forEach( function(monster) { %>
					<li>
						<%- include('monster-card.ejs', {monster}) %>
					</li>
				<% }) %>
			</ul>

		</module-name>

	</inner-column>
</section>


<%- include('footer.ejs') %>