monster-card {
	display: grid;

	picture {
		aspect-ratio: 1 / 1;
		max-width: 300px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.link {
		display: block;
	}

	&.adopted {
		border: 2px solid red;
	}

	&.lime {
		border: 2px solid lime;
	}

	&.blue {
		border: 2px solid blue;
	}

	&.red {
		border: 2px solid red;
	}

	&.orange {
		border: 2px solid orange;
	}

}